.accordion {
  overflow: hidden;

  &-toggler {
    position: relative;
    cursor: pointer;

    &__icon {
      position: absolute;
    }
  }

  &-collapse {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: max-height .5s, opacity .3s;
  }

  &.active {

    .accordion {

      &-collapse {
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: height .5s, opacity .5s;
      }
    }
  }
}