.select-ext {
  cursor: pointer;

  &__options {
    opacity: 0;
    transition: opacity .3s ease;
  }

  &-multi-option {
    display: block;
  }

  &.active {

    .select-ext__options {
      opacity: 1;
    }
  }
}